/* Whole HTML background color */
.container-fluid, html {
    background-color: #fdfdfd;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

/* ResamVi Text style */
.title {
    display: inline;
    font-size: 4em;
    font-weight: normal;
    font-family: 'Cinzel', serif;
}

/* Maximum and minimum size of melon image */
.max-height-logo {
    max-height: 315px;
    min-height: 100px;
    min-width: 100px;
}

/* Used to center header horizontally and vertically */
.center-row {
    display:flex;
    align-items:center;
    
    /* custom */
    height:20em;
    margin-left:5%;
    margin-right:5%;
}

/* General center the images */
.icons {
    display:inline;
    margin: 0 10%;
}

/* start of large tablet styles */
@media screen and (max-width: 991px) {
    
}

/* start of medium tablet styles */
@media screen and (max-width: 767px) {
    .title {
            font-size: 3em;
    }
}
 
/* start of phone styles */
@media screen and (max-width: 479px) {
    .title {
            font-size: 2em;
    }
    
    .icons {
        margin: 0 5px;
    }
}