/* Whole HTML background color */
.container-fluid, html {
    background-color: #fdfdfd;
}

p {
    font-family: 'Open Sans Condensed', sans-serif;
    font-size: 1.5em;
}

/* ResamVi Text style */
.title {
    display: inline;
    font-size: 4em;
    font-weight: normal;
    font-family: 'Cinzel', serif;
}

/* Dates put above titles */
.entry-date {
    font-family: 'Cinzel', serif;
    text-align: center;
    color: #696969;
    margin: 0;
    margin-top: 100px;
}

/* Titles for entries */
.entry-title {
    font-family: 'Cinzel', serif;
    text-align: center;
    margin: 10px 0;
}

/* Actual blog entry */
.entry-content {
    text-align: center;
}

/* Maximum and minimum size of melon image */
.max-height-logo {
    max-height: 315px;
    min-height: 100px;
    min-width: 100px;
}

/* Used to center header horizontally and vertically */
.center-row {
    display:flex;
    align-items:center;
    
    /* custom */
    height:20em;
    margin-left:5%;
    margin-right:5%;
}

/* General center the images */
.icons {
    display:inline;
    margin: 0 8%;
}

/* To align Image, vertical line and text */
#header {
    display: flex;
    align-items: center;
    height: 20em;
    margin-left: 5%;
    margin-right: 5%;
}

/* Text */
#description {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    text-align: center;
    margin-bottom: 50px;
}

/* Holds social media icons */
#subheader {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
}

/* To align startpage vertically */
#startpage {
    min-height: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

/* Holds the actual content */
#startpage-container {
    width:100vw;
    height:50vh;
    position:relative;
}

/* start of large tablet styles */
@media screen and (max-width: 991px) {
    
}

/* start of medium tablet styles */
@media screen and (max-width: 767px) {
    .title {
            font-size: 3em;
    }
}
 
/* start of phone styles */
@media screen and (max-width: 479px) {
    .title {
            font-size: 2em;
    }
    
    .icons {
        margin: 0 5px;
    }
}